<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow">
    <h1 class="font-normal text-3xl text-center text-green-600">Forgot Password</h1>

    @if(step === 1){
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">

            <div class="my-2">
                
              <label for="email" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white">email</label>
              <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    
            </div>
    
            <button [disabled]="verifyEmail.invalid" class="btn-main mt-3">Verify Email</button>
    
            
    
        </form>
    }
    @else if (step === 2) {
        
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">

        <div class="my-2">
            
          <label for="resetCode" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white">resetCode</label>
          <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">

        </div>

        <button [disabled]="verifyCode.invalid" class="btn-main mt-3">Verify Code</button>
 

    </form>
    }
    @else if (step === 3) {

        <form [formGroup]="restPassword"(ngSubmit)="resetPasswordSubmit()">

            <div class="my-2">
                
                <label for="email" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white">email</label>
                <input readonly formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
      
              </div>
    
            <div class="my-2">
                
              <label for="newPassword" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white">newPassword</label>
              <input formControlName="newPassword" type="password" id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    
            </div>
    
            <button [disabled]="restPassword.invalid" class="btn-main mt-3">Reset Password</button>
     
    
        </form>

    }




    


</section>
